body {
    background-image: url("../images/live_bg.jpg");
}

a:link {
    color: orange;
}

a:visited {
    color: orange;
}

.embed-video {
    margin: 0px auto 50px auto;
    width: 854px;
}

button {
    border: none;
    color: white;
    background-color: #4CAF50;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #46a049;
    box-shadow:0px 0px 15px 5px green;
}
