<style> 
#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;    
}


#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 5px; 
    width: 200px;
    text-align: center;
}

</style>
