.panel-group .panel {
  margin-bottom: 2em;
}

.panel-heading {
  padding: 0;
	border:0;
}
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:#003366;
  font-size:16px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
}

.panel-title1>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:red;
  font-size:16px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
}

.panel-title2>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:Blue;
  font-size:16px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

h1, h2 {
  font-family: 'Pacifico', cursive;
}

p {
  font-size: 16px;
  text-align:justify;
  margin-bottom:1em;
}

blockquote {
  font-size: 20px;
  text-align:justify;
  font-family: 'Dancing Script', cursive;
}

blockquote footer {
  font-family: sans-serif;
}

.imp {
  font-weight: bold;
}
