.title{
  font-weight: bold;
  color: #5d6d7e;
  text-shadow: 0px 2px 2px white;
  font-size: 40px;
  text-align: center;
}

.subtitle{
  font-weight: bold;
  color:     #2c3e50;
  font-size: 20px;
  text-align: center;
}

.timer{
  font-weight: normal;
  color:   #2c3e50;
  font-size: 16px;
  text-align: center;
}

.container-outer{
  padding: 25px;
  margin: 30px auto;
  width: 960px;
  box-shadow: 0px 0px 20px white;
  border-radius: 20px;
}

.butn {
  white-space: normal;
  border-radius: 50px;
  width: 300px;
  font-size: 20px;
  margin: 15px;
  border: none;
  color: white;
  background-color:  #1f618d;
  padding: 10px 50px;
  box-shadow: 1px 4px 5px black;
}

.butn:hover {
  box-shadow: 1px 2px 5px black;
  cursor: pointer;
  background-color:  #2e86c1;
}

.butn:active {
  box-shadow: 1px 1px 2px black;
  cursor: pointer;
  background-color:  #2e86c1;
}

.raise:hover {
  border-radius: 15px;
  box-shadow: 0px 0px 15px white;
}

#container-practice {
  border-radius: 10px;
  padding: 10px;
}

#container-contact {
  border-radius: 10px;
  padding: 10px;
}

.heading {
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
  color: #1b4f72;
}

.table-cell {
  padding: 0px 20px;
  color: #1b4f72;
}

.grad {
  background: #d1f2eb; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, #48c9b0, #d1f2eb ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #48c9b0, #d1f2eb ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #48c9b0, #d1f2eb ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #48c9b0, #d1f2eb ); /* Standard syntax (must be last) */
}

.glitter-text {
  font-size: 120%;
  animation-name: glitterText;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes glitterText {
  0%    {color: red;}
  50%   {color: blue;}
  100%  {color: red;}
}
